.span_id {
    color: #000;
    font-weight: bold;
  }
  .chu_giai {
    padding: 10px;
    margin: 0;
    font-weight: bold;
    color: #000;
    
  }
  .chu_thich {
    width: 300px;
    height: 450px;
    border: 1px solid black;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
  }
  .child_ct {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  .child_img {
    margin-right: 10px;
  }
  .image {
    margin-left: -4px;
    margin-top: -7px;
    z-index: 100;
  }
  .fix_noname {
    position: absolute;
    width: 10px;
    height: 10px;
  }
  .fix_after {
    content: " ";
    top: -130px;
    position: absolute;
    border: 1px solid black;
    z-index: -100;
  }
  .all_main {
    position: relative;
    width: 1200px;
    height: 2000px;
    left: 0px;
  }
  .cusoor {
    width: 10px;
    height: 10px;
    z-index: 100;
    cursor: pointer;
  }
  .noway_dis {
    position: relative;
    background: #fff;
    text-align: right;
    min-width: 45%;
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    float: right;
    color: #000;
    font-weight: 500;
    right: 20px;
    z-index: 100;
    transition: 3s;
  }
  .noway_dis::before {
    content: "";
    position: absolute;
    visibility: visible;
    top: -1px;
    right: -10px;
    z-index: 100;
    border: 10px solid transparent;
    border-top: 10px solid #ccc;
  }
  
  .noway_dis::after {
    content: "";
    position: absolute;
    visibility: visible;
    top: 0px;
    right: -8px;
    z-index: 100;
    border: 10px solid transparent;
    border-top: 10px solid #fff;
    clear: both;
  }
  .dis_block1,
  .dis_block2,
  .dis_block3,
  .dis_block8,
  .dis_block9,
  .dis_block10,
  .dis_block12,
  .dis_block16,
  .dis_block17,
  .dis_block13,
  .dis_block19,
  .dis_block22,
  .dis_block23,
  .dis_block25,
  .dis_block26,
  .dis_block29,
  .dis_block30,
  .dis_block33,
  .dis_block5 {
    width: 250px;
    height: 60px;
    margin-left: 20px;
    position: absolute;
  }
  
  .dis_block4,
  .dis_block6,
  .dis_block7,
  .dis_block14,
  .dis_block15,
  .dis_block24,
  .dis_block27,
  .dis_block11 {
    width: 200px;
    height: 60px;
    margin-top: -75px;
    margin-left: -170px !important;
    margin-left: 20px;
    position: absolute;
  }
  .image1 {
    position: absolute;
    top: -10px;
    left: -2px;
  }
  .noname1 {
    position: relative;
    top: 20px;
    left: 600px;
    z-index: 1;
  }
  .noname1::after {
    content: " ";
    height: 1625px;
    position: absolute;
    border: 1px solid rgb(14, 13, 13);
    left: 51.61%;
    z-index: -1;
  }
  .noname2 {
    @extend .fix_noname;
    margin-top: 120px;
    left: 600px;
    z-index: 1;
  }
  .noname2::after {
    @extend .fix_after;
    height: 550px;
    left: -270px;
    transform: rotate(90deg);
  }
  .noname2::before {
    content: "Sông Nậm Mô";
    position: absolute;
    left: -500px !important;
    top: 125px;
    font-weight: bold;
    z-index: -100;
    font-weight: bold;
    font-size: 12px;
    color: black;
  }
  
  .noname3 {
    @extend .fix_noname;
    margin-top: 200px;
    left: 600px;
    z-index: 100;
  }
  .noname4 {
    @extend .fix_noname;
    margin-top: 260px;
    left: 520px;
    z-index: 100;
  }
  .noname5 {
    @extend .fix_noname;
    margin-top: 450px;
    left: 600px;
    z-index: 100;
  }
  .noname6 {
    @extend .fix_noname;
    margin-top: 260px;
    left: 450px;
    z-index: 100;
  }
  .noname7 {
    @extend .fix_noname;
    margin-top: 260px;
    left: 330px;
    z-index: 100;
  }
  .noname8 {
    @extend .fix_noname;
    margin-top: 260px;
    left: 250px;
    z-index: 100;
  }
  .noname9 {
    @extend .fix_noname;
    margin-top: 350px;
    left: 600px;
    z-index: 100;
  }
  .noname9::after {
    @extend .fix_after;
    height: 350px;
    left: 180px;
    transform: rotate(90deg);
  }
  .noname9::before {
    content: "Sông Muối Nguyên";
    position: absolute;
    height: 350px;
    width: 150px;
    left: 200px;
    top: 25px;
    font-weight: bold;
    font-size: 12px;
    color: black;
  }
  .noname10 {
    @extend .fix_noname;
    margin-top: 560px;
    left: 600px;
    z-index: 100;
  }
  .noname10::after {
    @extend .fix_after;
    height: 434px;
    top: -160px;
    left: 222px;
    transform: rotate(90deg);
  }
  .noname11 {
    @extend .fix_noname;
    margin-top: 612px;
    left: 1000px;
    z-index: 100;
  }
  .noname11::after {
    @extend .fix_after;
    height: 434px;
    top: -428px;
    left: 38px;
  }
  .noname12 {
    @extend .fix_noname;
    margin-top: 340px;
    left: 1030px;
    z-index: 100;
  }
  .noname12::after {
    @extend .fix_after;
    height: 140px;
    top: -140px;
    left: 77px;
    transform: rotate(90deg);
  }
  .noname12::before {
    content: "Sông Nậm Quang";
    position: absolute;
    z-index: 100;
    width: 50px;
    top: 65px;
    left: 15px;
    font-weight: bold;
    color: black;
    font-size: 12px;
  }
  .noname13 {
    @extend .fix_noname;
    margin-top: 590px;
    left: 600px;
    z-index: 100;
  }
  .noname14 {
    @extend .fix_noname;
    margin-top: 612px;
    left: 800px;
    z-index: 100;
  }
  .noname15 {
    @extend .fix_noname;
    margin-top: 612px;
    left: 900px;
    z-index: 100;
  }
  .noname18 {
    @extend .fix_noname;
    margin-top: 612px;
    left: 700px;
    z-index: 100;
  }
  .noname18::after {
    content: "Tân Kỳ";
    position: absolute;
    z-index: 100;
    width: 50px;
    top: -30px;
    left: -20px;
    font-weight: bold;
    color: black;
  }
  .noname15::after {
    content: "Sông Hiếu";
    position: absolute;
    z-index: 100;
    width: 100px;
    top: -21px;
    left: -70px;
    font-weight: bold;
    color: black;
    font-size: 12px;
  }
  .image18 {
    margin-top: -9px;
  }
  .noname16 {
    @extend .fix_noname;
    margin-top: 550px;
    left: 1030px;
    z-index: 100;
  }
  .noname17 {
    @extend .fix_noname;
    margin-top: 264px;
    left: 1147px;
    z-index: 100;
  }
  .noname17::after {
    content: "Sông Nậm Giải";
    position: absolute;
    z-index: 100;
    width: 80px;
    top: -50px;
    right: 25px;
    font-weight: bold;
    color: black;
    font-size: 12px;
  }
  .noname19 {
    @extend .fix_noname;
    margin-top: 700px;
    left: 600px;
    z-index: 100;
  }
  .noname20 {
    @extend .fix_noname;
    margin-top: 750px;
    left: 600px;
    z-index: 100;
  }
  .noname20::after {
    content: "Đập Đô Lương";
    position: absolute;
    z-index: 100;
    width: 100px;
    top: -15px;
    right: 5px;
    font-weight: bold;
    color: black;
    font-size: 12px;
  }
  .noname20::before {
    @extend .fix_after;
    height: 400px;
    top: -140px;
    left: -195px;
    transform: rotate(90deg);
  }
  .noname21 {
    @extend .fix_noname;
    margin-top: 805px;
    left: 530px;
    z-index: 100;
  }
  .noname21::after {
    content: "Thanh Liên";
    position: absolute;
    z-index: 100;
    width: 100px;
    top: -20px;
    right: -60px;
    font-weight: bold;
    color: black;
    font-size: 12px;
  }
  .noname21::before {
    content: "Sông Giăng";
    position: absolute;
    z-index: 100;
    width: 100px;
    top: -12px;
    right: 220px;
    font-weight: bold;
    color: black;
    font-size: 12px;
  }
  .noname22 {
    @extend .fix_noname;
    margin-top: 880px;
    left: 600px;
    z-index: 100;
  }
  .noname23 {
    @extend .fix_noname;
    margin-top: 1000px;
    left: 600px;
    z-index: 100;
  }
  .noname23::after {
    @extend .fix_after;
    height: 302px;
    top: -70px;
    left: -147px;
    transform: rotate(90deg);
  }
  .noname24 {
    @extend .fix_noname;
    margin-top: 1077px;
    left: 510px;
    z-index: 100;
  }
  .noname24::after {
    @extend .fix_after;
    height: 650px;
    top: -185px;
    left: -207px;
  }
  .noname25 {
    @extend .fix_noname;
    margin-top: 975px;
    left: 298px;
    z-index: 100;
  }
  .noname25::after {
    content: "Sông Ngàn Phố";
    position: absolute;
    z-index: 100;
    width: 100px;
    top: -75px;
    right: -35px;
    font-weight: bold;
    color: black;
    font-size: 12px;
    transform: rotate(90deg);
  }
  .noname26 {
    @extend .fix_noname;
    margin-top: 1200px;
    left: 298px;
    z-index: 100;
  }
  .noname26::after {
    @extend .fix_after;
    height: 238px;
    top: -48px;
    left: -113px;
    transform: rotate(90deg);
  }
  .noname27 {
    @extend .fix_noname;
    margin-top: 1265px;
    left: 160px;
    z-index: 100;
  }
  .noname27::after {
    content: "Sông Ngàn Tươi";
    position: absolute;
    z-index: 100;
    width: 110px;
    top: -15px;
    right: 35px;
    font-weight: bold;
    color: black;
    font-size: 12px;
  }
  .noname28 {
    @extend .fix_noname;
    margin-top: 1400px;
    left: 298px;
    z-index: 100;
  }
  .noname29 {
    @extend .fix_noname;
    margin-top: 1500px;
    left: 296px;
    z-index: 100;
  }
  .noname30 {
    @extend .fix_noname;
    margin-top: 1150px;
    left: 600px;
    z-index: 100;
  }
  .noname31 {
    @extend .fix_noname;
    margin-top: 1300px;
    left: 600px;
    z-index: 100;
  }
  .noname31::after {
    content: "Cổng Trung Lương";
    position: absolute;
    z-index: 100;
    width: 120px;
    top: -15px;
    right: 5px;
    font-weight: bold;
    color: black;
    font-size: 12px;
  }
  .noname32 {
    @extend .fix_noname;
    margin-top: 1350px;
    left: 600px;
    z-index: 100;
  }
  .noname32::after {
    content: "Xuân Hồng";
    position: absolute;
    z-index: 100;
    width: 100px;
    top: -5px;
    right: -12px;
    font-weight: bold;
    color: black;
    font-size: 12px;
  }
  .noname33 {
    @extend .fix_noname;
    margin-top: 1638px;
    left: 600px;
    z-index: 100;
  }