.all_main{
    position: relative;
    width: 800px;
    height: 1000px;
    border: 1px solid black;
    left: 500px;
}
.cusoor{
  width: 10px;
  height: 10px;
  border: 1px solid red;
  background-color: red;
  z-index: 100;
  cursor: pointer;
}
.dis_block1,.dis_block2,.dis_block3,.dis_block5{
    width: 200px;
    height: 60px;
    border:1px solid black;
    margin-left: 20px;
    position: absolute;
}
.noname1{
    position: absolute;
    top: 20px;
    left: 150px;
    z-index: 100;
}
.noname1::after{
    content: ' ';
    height:500px;
    position: absolute;
    border:1px solid rgb(14, 13, 13);
    left: 51.61%;
    z-index: -100;
  }
  .noname2{
    margin-top: 120px;
    width: 10px;
    height: 10px;
    z-index: 100;
    border: 1px solid red;
    background-color: red;
  }
  .noname2::after{
    content: ' ';
    height:250px;
    left:35.2%;
    position: absolute;
    border:1px solid black;
    transform: rotate(90deg);
    z-index: -2;
  }
  .noname2::before{
    content: 'Sông Nậm Mô';
    position: absolute;
    left:35%;
    top: 51.5%;
    font-weight: 500;
    font-style: italic;
  }